:root {
  --primary-color: #0e0f10; /* Define variable */
  --accent-color: #212325;
}

html,
body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(223, 219, 219);
}

.header {
  background-color: var(--accent-color);
  justify-content: space-between;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  position: sticky;
  top: 0;
}

.headertitle {
  flex: 2;
  margin-left: 15px;
}

a {
  color: rgb(223, 219, 219);;
  text-decoration: none;
  flex: 1;
  margin: 5px;
}

i {
  margin: 3px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(223, 219, 219);
}

.navigationcard {
  color: rgb(223, 219, 219);
  height: 400px;
  width: 275px;
  background-color: var(--accent-color);
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img {
  max-width: 235px;
  max-height: auto;
  border-radius: 5px;
  margin: 0px;
  margin-top: 5vh;
  object-fit: cover;
}

.footer {
  background-color: var(--accent-color);
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footerp {
  margin: 3px;
}
